*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: url(benjamin-voros-phIFdC6lA4E-unsplash.jpg); 
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover; 
    background-blend-mode:lighten;
    background-attachment: fixed; 
    min-height: 200vh; 
    margin: 0; 
    font-family: sans-serif;
    scroll-behavior: smooth;
    scrollbar-color: inherit;
   
}
.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    background-color: #000000;
    opacity: 0.6;
    width: 100%;
    padding: 20px 50px;
    flex-wrap: wrap;
}
#header_content_heading{
    color: #94A3B8;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
.header_content_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: none;
    backdrop-filter: brightness(100%);
    flex-wrap: wrap;
}

.header_content_nav a{
    margin-left: 20px;
    color: #FFFFFF;
    cursor: default;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background: none;
    backdrop-filter: brightness(100%);
    transition: 0.25s ease;
    
}
.header_content_nav a:hover{
  transform: translate(0, -2px);
  box-shadow: 0px 0px 5px 0px#FFFFFF;
}

#nav_button{
    color: white;
    background: linear-gradient(135deg, #D946EF 0%, #8B5CF6 100%);
    margin-left: 20px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.3s ease;   
    
}
  
#nav_button:hover{
    transform: scale(1.156);
    box-shadow:  5px 5px 5px #D946EF;
}

/*card content*/

.card_content{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
    gap: 2rem;
    overflow: hidden;
  
}
.card_content_article{
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    
}

.card_image{
    height: 300px;
    width: 450px;
    border-radius: 2rem;
    position: relative;
    
}

.card_shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, hsla(0, 0%, 0%, 0)70%, hsl(0, 0%, 0%)100%);
   
}

.card_data{
    color: whitesmoke;
    position: absolute;
    left: 1.5rem;
    bottom: 2.5rem;
}
.card_name{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: .25rem;
}
.card_view{
    display: block;
    font-size: 14px;
}
.grey{
      background-color:#fedfcf ;
      box-shadow: 0px 0px 15px 12px #fedfcf;
}

.green{
    background-color:#5f7866 ;
    box-shadow: 0px 0px 15px 12px #5f7866;
}
.blue{
    background-color:#90a8c2;
    box-shadow: 0px 0px 15px 12px #90a8c2;
    
}
.card_clip{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
   
    border-radius: 20px;
    height: 2rem;
    width: 2rem;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
    
}



.card_content_article:hover .card_image{
    transition: transform 0.25s ease-in-out;
    transform: translate(0px, -8px)
    
}