*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: url(benjamin-voros-phIFdC6lA4E-unsplash.jpg); 
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover; 
    background-blend-mode:lighten;
    background-attachment: fixed; 
    min-height: 200vh; 
    margin: 0; 
    font-family: sans-serif;
   
   
}
.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    background-color: #000000;
    opacity: 0.6;
    width: 100%;
    padding: 20px 50px;
    flex-wrap: wrap;
}
#header_content_heading{
    color: #94A3B8;
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
.header_content_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: none;
    backdrop-filter: brightness(100%);
    flex-wrap: wrap;
}

.header_content_nav a{
    margin-left: 20px;
    color: #FFFFFF;
    cursor: default;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background: none;
    backdrop-filter: brightness(100%);
    transition: 0.25s ease;
    
}
.header_content_nav a:hover{
  transform: translate(0, -2px);
  box-shadow: 0px 0px 5px 0px#FFFFFF;
}

#nav_button{
    color: white;
    background: linear-gradient(135deg, #D946EF 0%, #8B5CF6 100%);
    margin-left: 20px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    transition: 0.3s ease;   
    
}

#nav_button:hover{
    transform: scale(1.156);
    box-shadow:  5px 5px 5px #D946EF;
}